-
  let title = 'Feram'
  const features = {
    featuresPage: true,
    loginPage: false,
    repoInputField: false,
    newsletterForm: true,
  }

doctype html
html
  block vars
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Josefin+Slab:600,700'
    )
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'
    )
    link(rel='stylesheet' href='/styles/screen.css')
    link(rel='icon' href='/images/logo.svg')
    script(src='/scripts/main.js')

  body
    .wrapper
      nav
        a#logo(href='/')
          img(src='/images/logo.svg' alt='Logo of Feram')
          span Feram

        a(
          href='/about'
          class= active === 'about' ? 'active' : ''
        ) About

        if features.featuresPage
          a(
            href='/features'
            class= active === 'features' ? 'active' : ''
          ) Features

        a(
          href='/pricing'
          class= active === 'pricing' ? 'active' : ''
        ) Pricing

        a(
          href='/imprint'
          class= active === 'imprint' ? 'active' : ''
        ) Imprint

        if features.loginPage
          a(
            href='/login'
            class= active === 'login' ? 'active' : ''
          ) Login

        #social-icons
          a.fa.fa-github.fa-lg(href='https://github.com/feramhq')
            span GitHub
          a.fa.fa-twitter.fa-lg(href='https://twitter.com/feramhq')
            span Twitter
          a.fa.fa-facebook.fa-lg(href='https://facebook.com/feramhq')
            span Facebook
          a.fa.fa-linkedin.fa-lg(href='https://linkedin.com/company/feram.co')
            span LinkedIn

      main
        block content
