extends partials/layout.pug

block vars
  -
    title = 'Feram - Features'
    const active = 'features'
    const programmingLanguages = [
      'Text files',
      'JavaScript',
      'HTML',
      'CSS',
      'Python',
      'Ruby',
      'PHP',
      'JSON',
      'C',
      'C++',
      'C#',
      'Objective C',
      'D',
      'Java',
      'Pawn & VALA',
    ]

block content
  main#features
    section
      h2 Languages
      
      p.
        Feram is capable of detecting and fixing bugs in following
        programming languages and file types:
        <br>
        #{programmingLanguages.join(', ')}
        
      //- ul.programming-languages
      //-   for language in programmingLanguages
      //-     li= language
    
    section
      h2 Modules

      h3 Fixing
      p.
        Feram currently uses #{activeFixingModules.length} modules to
        automatically fix bugs in your code.
        <br>
        #{fixingModules.length - activeFixingModules.length}
        more are on the short term roadmap.

      br
      
      ul.fixing-modules
        for module in fixingModules
          li(class=module.state)
            div.checkmark
            img(src=module.image)
            div
              strong!= module.name
              p
                != module.description
                if module.link
                  br
                  small
                    | More infos at 
                    a(href=module.link)
                      = module.link.replace(/^https?:\/\//, '')
              
