extends partials/layout.pug

block vars
  -
    title = 'Feram - Features'
    const active = 'features'
    const programmingLanguages = [
      'Text files',
      'JavaScript',
      'HTML',
      'CSS',
      'Python',
      'Ruby',
      'PHP',
      'JSON',
      'C',
      'C++',
      'C#',
      'Objective C',
      'D',
      'Java',
      'Pawn & VALA',
    ]

block content
  section
    h2 Supported Languages
    
    p.
      Feram is capable of detecting and fixing bugs in following
      programming languages and file types:
      #{programmingLanguages.join(', ')}
  
  section
    h2 Tools We Run on Your Code
    
    p.
      Feram currently uses #[strong #{activeFixingModules.length}] tools to
      automatically fix bugs in your code.
      <br>
      More coming every week!
      
    //- #[strong #{fixingModules.length - activeFixingModules.length}]
    //- more are on the short term roadmap.

    br
    
    ul.fixing-modules
      for module in fixingModules
        if module.state == 'ready'
          li(class=module.state)
            div.checkmark
            img(src=module.image)
            div
              strong!= module.name
              p
                != module.description
                if module.link
                  br
                  small
                    | More infos at 
                    a(href=module.link)
                      = module.link.replace(/^https?:\/\//, '')
              
