extends partials/layout.pug


block vars
  - title = 'Feram - Getting Started'


block content
  article
    h1 Getting Started
    
    p.
      This is a short tutorial on how to get started with Feram.
      
    section
      h2 Step 1: Activate Feram
      
      p.
        Feram is a GitHub app and can be easily enabled for your repositories.
        
      p.
        First, go to #[a(href='https://github.com/apps/feram') github.com/apps/feram]
        and activate Feram for at least one repository.

      p.
        Whenever you create a new pull request in one of the activated
        repositories, Feram automatically checks the code of the pull request and
        posts a warning if any bugs were found:
      
      p: img(
        src='/images/screenshots/github-failed-check.png'
        alt='GitHub Failed Check Screenshot'
      )

    section
      h2 Step 2: Select Patches
      p.
        When you open the "Details" link, you will get redirected to the
        corresponding "code check" on #[a(href='http://feram.io') feram.io]:

      p: img(
        src='/images/screenshots/feram-codecheck.png'
        alt='Feram Codecheck Screenshot'
      )

      p.
        There you simply select which patches you want to apply to your code
        and click submit.
    
    section
      h2 Step 3: Merge Pull Request
      p.
        Feram then commits all the changes directly into the pull request branch
        and you are ready to finally merge the pull request!

      p: img(
        src='/images/screenshots/github-passed-check.png'
        alt='GitHub Passed Check Screenshot'
      )

    section
      h2 Celebrate
      
      p.
        Congratulations, you have effortlessly improved your code!
        
      p.
        From now on every pull request in you activated repositories
        gets automatically checked by Feram.
      
      
